<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TicketEA</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="{% static 'css/misitio.css' %}"/>
    <link href="https://fonts.googleapis.com/css2?family=Abel&display=swap" rel="stylesheet"/>
</head>
<body>
<div class="page-header">
    <h2><a href="/">TicketEA</a></h2>
    <h4><a href="/">Página web de compra-venta de entradas para conciertos</a></h4>
    <a href="{% url 'cliente_new' %}" class="top-menu"><span class='glyphicon-plus'>Alta Cliente</span></a>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <a href="#" class="top-menu"><span class='glyphicon-minus'>Baja Cliente</span></a>
</div>
  <div class="content">
      <div class="row">
        {% block content %}
        {% endblock %}
      </div>
  </div>
</body>
</html>